/** @format */

.app {
	background-color: #f2f2f2;
	width: 100%;
}
.app-header {
	width: 100%;
}
.w {
	width: 1220px;
	margin: 0 auto;
}
.app-header-slong {
	height: 30px;
  padding-top: 5px;
	line-height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #ccc;
	border-bottom: 1px solid #ccc;
	padding-bottom: 2px;
}
.btn-login {
	color: #ccc;
}
.search-warp {
  padding: 20px 0;
	text-align: center;
}
.page-content {
  
}
